@model IEnumerable<LMS.Models.CustomerRequest>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>*@
    <script type="text/javascript">
        
        $("body").on("click", "#btnAdd", function () {
            //Reference the Name and Country TextBoxes.
            var txtItem = $("#txtItem option:selected");
            var v = txtItem.text();
            var txtService = $("#txtService option:selected");
            var s = txtService.text();
            var txtQty = $("#txtQty");
            
            //Get the reference of the Table's TBODY element.
            var tBody = $("#tblCustomers > TBODY")[0];

            //Add Row.
            var row = tBody.insertRow(-1);

            //Add cell.
            var cell = $(row.insertCell(-1));
            cell.html(txtItem.val());
            cell = $(row.insertCell(-1));
            cell.html(txtService.val());
            cell = $(row.insertCell(-1));
            cell.html(txtQty.val());

            //Add Button cell.
            cell = $(row.insertCell(-1));
            var btnRemove = $("<input />");
            btnRemove.attr("type", "button");
            btnRemove.attr("onclick", "Remove(this);");
            btnRemove.val("Remove");
            cell.append(btnRemove);

            //Clear the TextBoxes.
            txtItem.val("");
            txtService.val("");
            txtQty.val("");
        });
        
        function Remove(button) {
            //Determine the reference of the Row using the Button.
            var row = $(button).closest("TR");
            var name = $("TD", row).eq(0).html();
            if (confirm("Do you want to delete: " + name)) {
                //Get the reference of the Table.
                var table = $("#tblCustomers")[0];

                //Delete the Table row using it's Index.
                table.deleteRow(row[0].rowIndex);
            }
        };

        $("body").on("click", "#btnSave", function () {
            //Loop through the Table rows and build a JSON array.
            var customers = new Array();
            $("#tblCustomers TBODY TR").each(function () {
                var row = $(this);
                var customer = {};
                customer.ItemId = row.find("TD").eq(0).html();
                customer.ServiceId = row.find("TD").eq(1).html();
                customer.Quantity = row.find("TD").eq(2).html();
                customers.push(customer);
            });

            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: "/Request/InsertCustomers",
                data: JSON.stringify(customers),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    alert(r + " record(s) inserted.");
                }
            });
        });
    </script>
</head>
<body>
    <div>
        Date: @DateTime.Now
        <br />
        Name: @Session["UserName"].ToString()
        <br />
        Address: @ViewBag.Address
        <br />
        Contact No.: @ViewBag.MobileNo
        <br />
        Email: @ViewBag.Email
        <table id="tblCustomers" class="table" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th style="width:150px">Item</th>
                    <th style="width:150px">Service</th>
                    <th style="width:150px">Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>

                        <td>@customer.Item.ItemName</td>
                        <td>@customer.Service.ServiceName</td>
                        <td>@customer.Quantity</td>
                        <td><input type="button" value="Remove" onclick="Remove(this)" /></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>@Html.DropDownList("ItemName", new SelectList(ViewBag.data, "ItemId", "ItemName"), "--select--", htmlAttributes: new { @id = "txtItem" })</td>
                    <td>@Html.DropDownList("SeviceName", new SelectList(ViewBag.info, "ServiceId", "ServiceName"), "--select--", htmlAttributes: new { @id = "txtService" })</td>
                    <td><input type="text" id="txtQty" /></td>
                    <td><input type="button" id="btnAdd" value="Add" /></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <br />
    <input type="button" id="btnSave" value="Save All" />

</body>
</html>
