@model IEnumerable<LMS.Models.Transaction>

@{
    ViewBag.Title = "Index";
}




<table class="table">
    <tr>
        <th>
            Request Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServicePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
    </tr>

    @foreach (var item in Model.GroupBy(x => x.RequestId))
    {
        <tbody>
            @foreach (var i in @Model.Where(x => x.RequestId == item.Key.Value).GroupBy(x => x.UserRegistration.UserName))
            {
                <tr>
                    <td colspan="5">
                        @i.Key
                    </td>
                </tr>
            }
            @foreach (var p in @Model.Where(x => x.RequestId == item.Key.Value))
            {

                <tr>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => p.Item.ItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.ItemPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.Service.ServiceName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.ServicePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.Amount)
                    </td>
                </tr>
            }
        </tbody>
        <tr>
            <td>
                @Html.ActionLink("Generate Bill", "Reports", new { ReportType = "PDF", RequestId = (item.Key.Value) })
            </td>
        </tr>
    }
    @using (Html.BeginForm("AcceptMail", "Request"))
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Send" />
    }

</table>

